<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watch</title>
    <link rel="icon" href="/images/kartof-play.png" />
    <meta content="Kartof Play" property="og:title" />
    <% if(details.animeTitle != undefined) { %>
      
      <meta content="Watch <%= details.animeTitle %>" property="og:description" />
      <% }else { %>
        <meta content="Watch <%= mal_search[0].animeTitle %>" property="og:description" />
     
      <% }%>
    
    <meta content="sssr.gq" property="og:url" />
    <meta content="https://github.com/Kartofi/kartof-play/raw/master/imgs/preview.png" property="og:image" />
    <meta name="twitter:card" content="summary_large_image">
    <meta content="#43B581" data-react-helmet="true" name="theme-color" />
  </head>
  <link href="/watch.css" rel="stylesheet" type="text/css" />
  <link href="/common/cards.css" rel="stylesheet" type="text/css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700&display=swap"
    rel="stylesheet"
  />
  <script>
    function load() {
      if ("<%= stream.url %>" == undefined) {
        document.getElementById("gogoanime").disabled = true;
      }
      if ("<%= rush_stream.url %>" == undefined) {
        document.getElementById("animerush").disabled = true;
      }
      let scroll_height = document.getElementById("player").scrollHeight;
      let scroll_width = document.getElementById("player").scrollWidth;

      document.getElementById("player").width = scroll_width;
      document.getElementById("player").height = scroll_height;
    }

    function changeSource(source) {
      if (source == "gogo") {
        document.getElementById("player").src = "<%= stream.url %>";
      } else if (source == "rush") {
        document.getElementById("player").src = "<%= rush_stream.url %>";
      }
      load()
    }
  </script>
  <body onload="load()">
    <a class="episode" href="/">Home</a>
    <a class="episode abutton" onclick="history.back()">Back</a>
    <br />
    <br />
    <% if(new_ep.next_ep != undefined) { %>

    <center class="next_ep">
      <time style="color: yellow" datetime="<%= new_ep.next_ep %>"
        >Next Episode: <%= new_ep.date %></time
      >
    </center>

    <% } %>
    <br />
    <br />
    <div class="episodes">
      <% if (details.episodesList != undefined) { %> <%
      details.episodesList.forEach(function(element) { %>
      <div class="episode">
        <% if(episode == element.episodeNum) {%>
        <a style="color: rgb(85, 255, 85)" href="<%= element.watchUrl %>">
          <%= element.episodeNum %></a
        >
        <%}else {%>
        <a href="<%= element.watchUrl %>"> <%= element.episodeNum %></a>
        <%}%>
      </div>

      <% })} %>
    </div>

    <div class="details">
      <% if(details.animeTitle != undefined) { %>
      <a class="white_text"><%= details.animeTitle %></a>

      <% }else { %>

      <a class="white_text"><%= mal_search[0].animeTitle %></a>
      <% }%>

      <br />
      <a style="color: yellow"><%= rating %>✨</a>
      <br />
      <% if(details.animeTitle != undefined) { %>

      <img src="<%= details.animeImg %>" />
      <% }else { %>
      <img src="<%= mal_search[0].animeImg %>" />
      <% } %>

      <br />
      <center>
        <div class="description">
          <a> <%= details.synopsis %> </a>
        </div>
      </center>

      <br />
    </div>
   
      <div class="player">
        <center>
        <a class="episode abutton" id="gogoanime" onclick="changeSource('gogo')"
          >GoGoAnime</a
        >
        <a class="episode abutton" id="animerush" onclick="changeSource('rush')"
          >AnimeRush</a
        >
        <br />
        <br />
        
          <iframe
          allowfullscreen=""
          webkitallowfullscreen="true"
          mozallowfullscreen="true"
          oallowfullscreen="true"
          msallowfullscreen="true"
          src="<%= stream.url %>"
          frameborder="0"
          id="player"
          scrolling="yes"
        ></iframe>
        </center>
      
      </div>
    
  </body>
</html>
